<!DOCTYPE html>
<html>

<head>
    <title>算命程序</title>
</head>

<body>
    <div class="container">
        <form action="/queue" method="get">
            <div class="male-div">
                <span>男性信息</span>
                <input type="text" name="myear" placeholder="出生年份">
            </div>
            <div class="female-div">
                <span>女性信息</span>
                <input type="text" name="fyear" placeholder="出生年份">
            </div>
            <input type="submit" value="查询">
        </form>
    </div>
</body>

</html>